header {
  height: 5rem;
  width: 100%;
  padding: 0 auto;
  background-color: $c-alt;
}

.nav {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;

  &__icones {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: auto;
    z-index: 120;
    padding: 0 3rem;
    align-items: center;
    margin: 0;
    height: 80px;
    position: relative;
    z-index: 130;
  }

  &__menu {
    background-color: $c-alt;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    max-width: 1420px;
    width: 100%;
    height: 100%;
    padding: 0;
    left: 0;
    top: 0;
    margin: 0;
    list-style: none;
    z-index: 10;
    transition: transform 1s ease-in-out;
    transform: translateY(-100%);
  }

  //animation menu
  .switch {
    transition: transform 1s ease-in-out;
    transform: translateY(0);

    //animation lien menu
    .lien {
      transition: transform 2s ease-in-out;
      transform: translateY(0);
    }
  }

  &__last {
    padding: 0 3rem;
  }

  &__el {
    margin-left: 32px;
    padding: 8px 12px;
    font-size: 25px;
    transition-delay: 1s;
    transition: transform 1s ease-in-out;
    transform: translateX(0);

    .lien {
      display: block;
      padding: 12px 8px;
      transform: translateY(-100%);
      transition: transform 2s ease-in-out;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: $c-bg;
        transition: width 0.5s ease-in-out;
      }

      &:hover::after {
        width: 0;
      }

      &:hover {
        color: $c-bg;
        background-color: $c-hover;
        border-radius: 8px;
      }
    }
  }

  &__img {
    height: 50px;
    z-index: 130;
  }
}

//Ui-Kit
.nav__exemple {
  .nav__icones {
    padding-top: 10px;
    padding-bottom: 4px;
    z-index: -20;
  }

  .nav__menu {
    z-index: -20;
  }

  .burger {
    z-index: -10;
  }
}

//tablette
//@media screen and (min-width:720px) and (max-width:1080px) {}

//Desktop
@media screen and (min-width:1080px) {
  .nav {
    display: flex;
    justify-content: space-between;

    &__icones {
      z-index: 210;
    }

    &__last {
      align-self: center;
      margin-left: 32px;
      padding: 8px 12px;
    }

    &__menu {
      width: 100%;
      position: static;
      transition: transform 1s ease-in-out;
      transform: translateY(0);
      flex-direction: row;
      background-color: initial;
      z-index: 200;



      //animation lien menu
      .lien {
        transition: transform 2s ease-in-out;
        transform: translateY(0);
      }
    }
  }
}