.footer {
    background-color: $c-alt;
    height: 96px;
    width: 100%;
    position: absolute;
    left: 0;
    padding-top: 28.4px;

    &__nav {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        max-width: 1420px;
        align-items: center;
        margin: auto auto;
    }

}