.article {
    margin-top: 64px;
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    p {
        margin-left: 16px;
    }

    &__txt {
        text-align: left;
    }

    &__image {
        border-radius: 40px;
        object-fit: cover;
        width: 80vw;
        height: calc(80vw / 3 * 2);
        max-width: 300px;
        max-height: calc(300px / 3 * 2);
        margin: 0 auto;
    }
}

//tablette
@media screen and (min-width:720px) and (max-width:1080px) {}

//Desktop
@media screen and (min-width:1080px) {
    .introduction__grid {

        .article {
            grid-area: 1 / 1 / 3 / 3;
        }
    }

    .article:nth-child(even) {
        margin-left: 10%;
    }
}