.recherches {

    &__logo {
        height: auto;
        max-height: 150px;
        max-width: 30%;
        width: auto;
    }

    h3 {
        color: $c-dyna;
    }

    &__block {
        margin-top: 32px;
        max-width: 444px;
        box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 4px;
        border-radius: 12px;
        padding: 24px;
        background-color: $c-bg;

        span {
            display: block;
            border-bottom: 3px solid $c-alt;
        }
    }

    .espace {
        margin-top: 64px;
    }
}

//tablette
//@media screen and (min-width:720px) and (max-width:1080px) {}

//Desktop
@media screen and (min-width:1080px) {
    .recherches {
        .hypothese__exemple {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 24px;
            grid-row-gap: 24px;
        }
    }
}