.recherches{

    &__logo{
        height: auto;
        max-height: 150px;
        max-width: 30%;
        width: auto;
    }

    h3{
        color: $c-dyna;
    }

    &__block{
        margin-top: 64px;
        max-width: 444px;
        box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 4px;
        border-radius: 12px;
        padding: 12px 24px;

        span{
            display: block;
            margin-bottom: 18px;
            border-bottom: 3px solid $c-alt;
        }
    }
}