body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: var(--size-text);
  line-height: var(--line-height);
  color: $c-text;
  margin: 0;
  word-break: break-word;
  scroll-behavior: smooth;
}

//h1
.title {
  color: $c-alt;
  font-family: 'Dancing Script', sans-serif;
  font-size: var(--size-tittle-h1);
}
//h2
.subtitle{
  font-size: var(--size-tittle-h2);
  color: $c-dyna;
}

.red{
  color: $c-alt;
}
//h3
.h3{
  font-size: var(--size-tittle-h3);
}
//h4
.h4{
  font-size: var(--size-tittle-h4);
}


.lien{
  text-decoration: none;
  color: $c-bg;
}

.section{
  margin: 64px 32px;
}

p{
  max-width: 64ch;
}

.important{
  font-size: calc(var(--size-text) + 2px);
  font-weight: normal;
}